@model cspv3.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Privacy Policy";
    Layout = "_Layout";
}

<section id="page-title" class="bundle">
    <div class="container">

        <div class="page-title">
            <h1>Privacy Policy</h1>
        </div>
    </div>

</section>

<section id="content">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h3>Privacy Policy</h3>

                <div class="accordion toggle fancy radius clean">
                    <div class="col-lg-6">
                        <div class="ac-item">
                            <h5 class="ac-title">
                                <i class="fa fa-question-circle"></i>
                                Our Privacy Commitment


                            </h5>
                            <div style="display: none;" class="ac-content">

                                <li>
                                    At Wragby Business Solutions and Technologies Limited (Wragby) we respect your privacy, and we are committed to maintaining the confidentiality of the personal information we collect.
                                </li>
                                <li>
                                    This page explains what information we gather about you through the Wragby website and digital marketing systems, what we do with that information, and what we don’t do with that information. More information can be found in the Privacy Statement Please note the legal notices contained on this page only apply to those websites and marketing emails that link to these legal notices.
                                </li>
                                <li>
                                    If you choose to use our Service, then you agree to the collection and use of information in relation with this policy. We use the Personal Information that we collect for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy.
                                </li>
                                The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at Website URL unless otherwise defined in this Privacy Policy.

                            </div>
                        </div>
                        <div class="ac-item">
                            <h5 class="ac-title">
                                <i class="fa fa-question-circle"></i>
                                Information Collection and Use
                            </h5>
                            <div style="display: none;" class="ac-content">

                                
                                    For a better experience, while using our Service, we may require you to provide us with some personally identifiable information, including but not limited to your name, email, phone number, and postal address. The information that we collect will be used to contact or identify you.
                                
                            </div>
                        </div>
                        <div class="ac-item">
                            <h5 class="ac-title">
                                <i class="fa fa-question-circle"></i>
                                Log Data
                            </h5>
                            <div style="display: none;" class="ac-content">

                                
                                    We want to inform you that whenever you visit our Service, we collect information that your browser sends to us that is called Log Data. This Log Data may include information such as your computer’s Internet Protocol (“IP”) address, browser version, pages of our Service that you visit, the time and date of your visit, the time spent on those pages, and other statistics.
                                


                            </div>
                        </div>
                        <div class="ac-item">
                            <h5 class="ac-title">
                                <i class="fa fa-question-circle"></i>
                                Changes to This Privacy Policy
                            </h5>
                            <div style="display: none;" class="ac-content">

                             
                                    We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are displayed on this page.
                               


                            </div>
                        </div>

                        <div class="ac-item">
                            <h5 class="ac-title">
                                <i class="fa fa-question-circle"></i>
                                Links to Other Sites

                            </h5>
                            <div style="display: none;" class="ac-content">
                                Our Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.

                            </div>
                            </div>
                            <div class="ac-item">
                                <h5 class="ac-title">
                                    <i class="fa fa-question-circle"></i>
                                    Children's Privacy
                                </h5>
                                <div style="display: none;" class="ac-content">
                                    Our Services do not address anyone under the age of 13. We do not knowingly collect personally identifiable information from children under 13. In the case we discover that a child under 13 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to do necessary actions.

                                </div>
                            </div>
                            <div class="ac-item">
                                <h5 class="ac-title">
                                    <i class="fa fa-question-circle"></i>
                                    How we use collected information


                                </h5>
                                <div style="display: none;" class="ac-content">
                                    Wragby may collect and use Users personal information for the following purposes:
                                    <li>
                                        To improve customer service: The information you provide helps us respond to your customer service requests and support needs more efficiently.
                                    </li>
                                    <li>
                                        To improve our Site: We may use feedback you provide to improve our products and services.
                                    </li>
                                    <li>
                                        To process payments: We may use the information Users provide about themselves when placing an order only to provide support for that order. We do not share this information with outside parties except to the extent necessary to provide the service.
                                    </li>
                                    <li>
                                        To run a promotion, contest, survey or other Site feature: To send Users information they agreed to receive about topics we think will be of interest to them.
                                        </li>
                                    <li>
                                        To send periodic emails: We may use the email address you provide to us to send you information and updates about your order or requested publication. If User decides to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information. If at any time the User would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email.
                                    </li>

                                </div>
                            </div>
                        </div>
                    <div class="col-lg-6">
                        <div class="ac-item">
                            <h5 class="ac-title">
                                <i class="fa fa-question-circle"></i>
                                Cookies
                            </h5>
                            <div style="display: none;" class="ac-content">
                                Cookies are files with small amount of data that are commonly used as anonymous unique identifiers. These are sent to your browser from the website that you visit and are stored on your computer’s hard drive.
                                <br />
                                Our website uses these “cookies” to collect information and to improve our Service. You have the option to either accept or refuse these cookies and know when a cookie is being sent to your computer. If you choose to decline our cookies, you may not be able to use some portions of our Service.
                            </div>
                        </div>
                        <div class="ac-item">
                            <h5 class="ac-title">
                                <i class="fa fa-question-circle"></i>
                                Variation of Terms
                            </h5>
                            <div style="display: none;" class="ac-content">
                                Wragby is permitted to revise these Terms at any time as it sees fit, and by using this Website you are expected to review these Terms on a regular basis.
                            </div>
                        </div>
                        <div class="ac-item">
                            <h5 class="ac-title">
                                <i class="fa fa-question-circle"></i>
                                Service Providers
                            </h5>
                            <div style="display: none;" class="ac-content">
                                We may employ third-party companies and individuals due to the following reasons:
                                <li>
                                    To facilitate our Service;
                                </li>
                                <li>
                                    To provide the Service on our behalf;
                                </li>
                                <li>
                                    To perform Service-related services; or
                                </li>
                                <li>
                                    To assist us in analyzing how our Service is used.
                                </li>
                                <li>
                                    We want to inform our Service users that these third parties may have access to your Personal Information when such information is required for them to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.
                                </li>
                            </div>
                        </div>
                        <div class="ac-item">
                            <h5 class="ac-title">
                                <i class="fa fa-question-circle"></i>
                                Security
                            </h5>
                            <div style="display: none;" class="ac-content">
                                We value your trust in providing us with your Personal Information. Thus we strive to use commercially acceptable means of protecting it. However, remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.
                            </div>
                        </div>
                        <div class="ac-item">
                            <h5 class="ac-title">
                                <i class="fa fa-question-circle"></i>
                                Contact Us
                            </h5>
                            <div style="display: none;" class="ac-content">
                                If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us on info@wragbysolutions.com
                                <br />
                                Phone: +23418110035

                                <br />
                                Mobile: +2349097438604
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>
</section>


<!-- content-wrapper ends -->
<!-- partial:../../partials/_footer.html -->

<div>

</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

