@{
    Layout = null;
}
<div class="ajax-quick-view">
    <div class="quick-view-content">
        <div class="product">
            <div class="row">
                <div class="col-lg-5">
                    <div class="product-image">
                        <div class="" data-items="1">
                            <img src="~/img/office365.png" alt="Shop product image!">

                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="product-description">
                        <div class="product-category">Microsoft o365</div>
                        <div class="product-title">
                            <h3><a href="#">Business Bundle</a></h3>
                        </div>
                        <div class="product-price">
                            <ins>₦3,404.00</ins>
                        </div>
                        <div class="product-rate">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                        <div class="product-reviews">
                            <a href="#">per User/Month</a>
                        </div>
                        <div class="seperator m-b-10"></div>
                        <p></p>
                        <div class="product-meta">
                            @*<p>
                                Tags: <a rel="tag" href="#">SharePoint</a>, <a href="#" rel="tag">Office 365</a>
                            </p>*@
                        </div>
                        <div class="seperator m-t-20 m-b-10"></div>
                    </div>
                    <div class="row">

                       
                    </div>

                    <div class="m-t-20">
                        <a class="btn btn-lg" type="button" asp-controller="Home" asp-action="ShoppingCart"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@*<div class="mfp-bg mfp-ready"></div>*@
@*<div class="mfp-wrap mfp-close-btn-in mfp-auto-cursor mfp-ready" tabindex="-1" style="overflow: hidden auto;">
        <div class="mfp-container mfp-ajax-holder mfp-s-ready">
            <div class="mfp-content">
                <div class="ajax-quick-view">
                    <div class="quick-view-content">
                        <div class="product">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="product-image">
                                        <div class="carousel carousel-loaded owl-carousel owl-loaded owl-drag" data-items="1">


                                            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-374px, 0px, 0px); transition: all 0.35s ease 0s; width: 2245px;"><div class="owl-item cloned" style="width: 374.156px;"><img src="images/shop/products/1.jpg" alt="Shop product image!"></div><div class="owl-item cloned active" style="width: 374.156px;"><img src="images/shop/products/2.jpg" alt="Shop product image!"></div><div class="owl-item" style="width: 374.156px;"><img src="images/shop/products/1.jpg" alt="Shop product image!"></div><div class="owl-item" style="width: 374.156px;"><img src="images/shop/products/2.jpg" alt="Shop product image!"></div><div class="owl-item cloned" style="width: 374.156px;"><img src="images/shop/products/1.jpg" alt="Shop product image!"></div><div class="owl-item cloned" style="width: 374.156px;"><img src="images/shop/products/2.jpg" alt="Shop product image!"></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="icon-chevron-left1"></i></button><button type="button" role="presentation" class="owl-next"><i class="icon-chevron-right1"></i></button></div><div class="owl-dots disabled"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="product-description">
                                        <div class="product-category">Women</div>
                                        <div class="product-title">
                                            <h3><a href="#">Consume Tshirtsss</a></h3>
                                        </div>
                                        <div class="product-price">
                                            <ins>$39.00</ins>
                                        </div>
                                        <div class="product-rate">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>
                                        <div class="product-reviews">
                                            <a href="#">3 customer reviews</a>
                                        </div>
                                        <div class="seperator m-b-10"></div>
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in</p>
                                        <div class="product-meta">
                                            <p>
                                                Tags: <a rel="tag" href="#">Clothing</a>, <a href="#" rel="tag">T-shirts</a>
                                            </p>
                                        </div>
                                        <div class="seperator m-t-20 m-b-10"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h6>Select the size</h6>
                                            <ul class="product-size">
                                                <li>
                                                    <label>
                                                        <input type="radio" name="product-size" value="option1" checked="checked"><span>xs</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="product-size" value="option1" checked="checked"><span>s</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="product-size" value="option1" checked="checked"><span>m</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="product-size" value="option1" checked="checked"><span>l</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="product-size" value="option1" checked="checked"><span>xl</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6">
                                            <h6>Select the color</h6>
                                            <label class="sr-only">Color</label>
                                            <select style="padding:10px">
                                                <option value="">Select color…</option>
                                                <option value="">White</option>
                                                <option selected="selected" value="">Green</option>
                                                <option value="">Brown</option>
                                                <option value="">Yellow</option>
                                                <option value="">Pink</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="m-t-10">
                                        <h6>Select quantity</h6>
                                        <div class="cart-product-quantity">
                                            <div class="quantity m-l-5">
                                                <input type="button" value="-" class="minus">
                                                <input type="text" value="1" class="qty">
                                                <input type="button" value="+" class="plus">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-t-20">
                                        <button class="btn btn-lg" type="button"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                </div>
            </div><div class="mfp-preloader">Loading...</div>
        </div>
    </div>*@


