<footer class="footer container-fluid pl-30 pr-30">
    <div class="row">
        <div class="col-sm-12">
            <p>© 2019 Wragby Business Solutions. All Rights Reserved</p>
        </div>
    </div>
</footer>
