<footer id="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="widget">
                        <div class="widget-title"><img src="~/img/defaultlogo.png" style="height:100px"/></div>
                       

                        <p class="mb-5" style="color:white">
                            This webstore enables customers
                            to purchase Microsoft solutions either standalone or add-ons.<br>
                            You can choose from different product offerings available.
                        </p>

                    </div>
                </div> <div class="col-lg-7">
                           <div class="row">
                               <div class="col-lg-3">
                                   <div class="widget">
                                       <div class="widget-title">Quick Links</div>
                                       <ul class="list">
                                           <li><a asp-controller="Home" asp-action="Index" style="color:white">Home</a></li>
                                           <li><a asp-controller="Home" asp-action="BundlesPage" style="color:white">Business Bundles</a></li>
                                           <li><a asp-controller="Home" asp-action="BundlesPage" style="color:white">Products Store</a></li>
                                           <li><a asp-controller="Docs" asp-action="TermsandConditions" style="color:white">T & C's</a></li>

                                       </ul>
                                   </div>
                               </div>
                               <div class="col-lg-3">
                                   <div class="widget">
                                       <div class="widget-title">Links</div>
                                       <ul class="list">
                                           <li><a asp-controller="Docs" asp-action="PrivacyPolicy" style="color:white">Privacy Policy</a></li>

                                           <li><a asp-controller="Account" asp-action="Login" style="color:white">Login</a></li>
                                           <li><a asp-controller="Account" asp-action="Register" style="color:white">Registration</a></li>
                                       </ul>
                                   </div>
                               </div>
                               <div class="col-lg-3">
                                   <div class="widget">
                                       <div class="widget-title">Site Map</div>
                                       <ul class="list">
                                           <li><a asp-controller="Home" asp-action="Index" style="color:white">Home</a></li>
                                           <li><a asp-controller="Home" asp-action="BundlesPage" style="color:white">Business Bundles</a></li>
                                           <li><a asp-controller="Docs" asp-action="Help" style="color:white">Help</a></li>
                                           <li><a asp-controller="Docs" asp-action="FAQs" style="color:white">Faqs</a></li>
                                       </ul>
                                   </div>
                               </div>
                               <div class="col-lg-3">
                                   <div class="widget">
                                       <div class="widget-title">Support</div>
                                       <ul class="list">

                                           <li><a asp-controller="Home" asp-action="Contact" style="color:white">Contact Us</a></li>

                                             <li><a style="color:white">+234 908 773 3358 </a></li>

                                           <li>
                                               <a><img src="~/img/firstcheckout.png" style="height:15px;" /></a>

                                                <a> <img src="~/img/paystack2.png" style="height:15px" /></a>
                                           </li>

                                       </ul>

                                   </div>
                               </div>
                               
                           </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-content">
        <div class="container">
           
            <div class="copyright-text text-left">
                <span class="custom-bg-color">© @DateTime.Now.Year Wragby Business Solutions. All Rights Reserved </span>
             
                                                   

        </div>
    </div>
        </div>
</footer>

