<!-- Left Sidebar Menu -->
<div class="fixed-sidebar-left">
    <ul class="nav navbar-nav side-nav nicescroll-bar">
        <li class="navigation-header">
            <span></span>
            <i class="zmdi zmdi-more"></i>
        </li>
        <li>
            <a class="active" href="javascript:void(0);" data-toggle="collapse" data-target="#marketplace_dr"><div class="pull-left"><i class="zmdi zmdi-landscape mr-20"></i><span class="right-nav-text">MarketPlace</span></div><div class="pull-right"></div><div class="clearfix"></div></a>

        </li>
        <li>
            <a data-toggle="collapse" data-target="#resellers_dr"><div class="pull-left"><i class="zmdi zmdi-face mr-20"></i><span class="right-nav-text">Resellers</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="resellers_dr" class="collapse collapse-level-1">
                <li>
                    <a class="active-page" href="index.html">Properties</a>
                </li>

                <li>
                    <a href="index3.html">Administration</a>
                </li>
                <li>
                    <a data-toggle="collapse" data-target="#services_dr"><div class="pull-left"><span class="right-nav-text">Services</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
                    <ul id="services_dr" class="collapse collapse-level-1">
                        <li>
                            <a href="index3.html">Add Product</a>
                            <a href="index3.html">Update Product</a>
                            <a href="index3.html">Add Product Plan</a>
                            <a href="index3.html">Add Product Pricing</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="index5.html">Custom Services</a>
                </li>
                <li>
                    <a href="index6.html">Branding</a>
                </li>
                <li>
                    <a href="profile.html">Marketing</a>
                </li>
            </ul>
        </li>
        <li></li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#organization_dr"><div class="pull-left"><i class="zmdi zmdi-nature-people mr-20"></i><span class="right-nav-text">Mnage Organization</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="organization_dr" class="collapse collapse-level-1">

                <li>
                    <a href="product.html">Organizations</a>
                </li>
                <li>
                    <a href="product-detail.html">Import</a>
                </li>
                <li>
                    <a href="add-products.html">Groups</a>
                </li>
                <li>
                    <a href="product-orders.html">Quote Tool</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#marketplace_dr"><div class="pull-left"><i class="zmdi zmdi-toys mr-20"></i><span class="right-nav-text">Admin Request</span></div><div class="pull-right"></div><div class="clearfix"></div></a>

        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#marketplace_dr"><div class="pull-left"><i class="zmdi zmdi-subway mr-20"></i><span class="right-nav-text">My Services</span></div><div class="pull-right"></div><div class="clearfix"></div></a>

        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#billings_dr"><div class="pull-left"><i class="zmdi zmdi-money mr-20"></i><span class="right-nav-text">Billings</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>

            <ul id="billings_dr" class="collapse collapse-level-1">
                <li>
                    <a href="product.html">Invoices</a>
                </li>
                <li>
                    <a data-toggle="collapse" data-target="#billingreport_dr"><div class="pull-left"><span class="right-nav-text">Billing Reports</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
                    <ul id="billingreport_dr" class="collapse collapse-level-1">
                        <li>
                            <a href="index3.html">Product Report</a>
                            @*<li>

            <a href="index3.html">Azure Products</a>
            <a href="index3.html">0365 Products</a>
            <a href="index3.html">3<sub>rd</sub> Party Products</a>
            <a href="index3.html">Domain Services</a>
        </li>*@



                        </li>
                        <li>
                            <a href="index3.html">Organization Report</a>
                            
                        </li>
                    </ul>
                    
                </li>
                <li>
                    <a href="product.html">Activate coupons</a>
                    <a href="product.html">Price List of Products</a>
                    <a href="product.html">Sales Report</a>
                </li>
                @*<li>
                    <a href="product.html">Price List of Products</a>
                </li>
                <li>
                    <a href="product.html">Sales Report</a>
                </li>*@
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#logs_dr"><div class="pull-left"><i class="zmdi zmdi-assignment mr-20"></i><span class="right-nav-text">Logs</span></div><div class="pull-right"></div><div class="clearfix"></div></a>

        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#config_dr"><div class="pull-left"><i class="zmdi zmdi-settings mr-20"></i><span class="right-nav-text">Configuration</span></div><div class="pull-right"></div><div class="clearfix"></div></a>

        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#support_dr"><div class="pull-left"><i class="zmdi zmdi-comment-alert mr-20"></i><span class="right-nav-text">Support</span></div><div class="pull-right"></div><div class="clearfix"></div></a>

        </li>
      

      
    </ul>
</div>
<!-- /Left Sidebar Menu -->