<!-- Left Sidebar Menu -->
<div class="fixed-sidebar-left">
    <ul class="nav navbar-nav side-nav nicescroll-bar">
        <li class="navigation-header">
            <span></span>
            <i class="zmdi zmdi-more"></i>
        </li>
        <li>
            <a class="active" href="javascript:void(0);" data-toggle="collapse" data-target="#dashboard_dr"><div class="pull-left"><i class="zmdi zmdi-landscape mr-20"></i><span class="right-nav-text">Dashboard</span></div><div class="pull-right"></div><div class="clearfix"></div></a>

        </li>
        <li>
            <a asp-controller="Home" asp-action="BundlesPage"><div class="pull-left"><i class="zmdi zmdi-landscape mr-20"></i><span class="right-nav-text">Estore</span></div><div class="pull-right"></div><div class="clearfix"></div></a>

        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#org_dr"><div class="pull-left"><i class="zmdi zmdi-landscape mr-20"></i><span class="right-nav-text">Organization</span></div><div class="pull-right"></div><div class="clearfix"></div></a>

        </li>
        <li>
            <a data-toggle="collapse" data-target="#manageuser_dr"><div class="pull-left"><i class="zmdi zmdi-face mr-20"></i><span class="right-nav-text">Manage Users</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="manageuser_dr" class="collapse collapse-level-1">
                <li>
                    <a data-toggle="collapse" data-target="#users_dr"><div class="pull-left"><span class="right-nav-text">Users</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
                    <ul id="users_dr" class="collapse collapse-level-1">
                        <li>
                            <a href="index3.html">Assign Licence</a>
                            <a href="index3.html">Suspend Suscription</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="index5.html">Imports</a>
                </li>
                <li>
                    <a href="index6.html">Groups</a>
                </li>

            </ul>
        </li>
        <li></li>

        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#service_dr"><div class="pull-left"><i class="zmdi zmdi-toys mr-20"></i><span class="right-nav-text">My Services</span></div><div class="pull-right"></div><div class="clearfix"></div></a>

        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#report_dr"><div class="pull-left"><i class="zmdi zmdi-subway mr-20"></i><span class="right-nav-text">Reports</span></div><div class="pull-right"></div><div class="clearfix"></div></a>

        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#logs_dr"><div class="pull-left"><i class="zmdi zmdi-assignment mr-20"></i><span class="right-nav-text">Logs</span></div><div class="pull-right"></div><div class="clearfix"></div></a>

        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#billings_dr"><div class="pull-left"><i class="zmdi zmdi-money mr-20"></i><span class="right-nav-text">Billings</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>

            <ul id="billings_dr" class="collapse collapse-level-1">
                <li>
                    <a href="product.html">Invoices</a>
                </li>
                <li>
                    <a href="e-commerce.html">Billing Reports</a>
                </li>
                <li>
                    <a href="product.html">Activate coupons</a>
                </li>
                <li>
                    <a href="product.html">Price List of Products</a>
                </li>
                <li>
                    <a href="product.html">Sales Report</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#quotetools_dr"><div class="pull-left"><i class="zmdi zmdi-account-box-mail mr-20"></i><span class="right-nav-text">Quote Tools</span></div><div class="pull-right"></div><div class="clearfix"></div></a>

        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#support_dr"><div class="pull-left"><i class="zmdi zmdi-comment-alert mr-20"></i><span class="right-nav-text">Support</span></div><div class="pull-right"></div><div class="clearfix"></div></a>

        </li>



    </ul>
</div>
<!-- /Left Sidebar Menu -->