
@{
    ViewData["Title"] = "Domain Choice";
}

<!-- page- title area start -->
<div style="background-image: url(/exzo/img/background-26.jpg); height:200px;  background-position: center;  background-size:100%; background-repeat:no-repeat;">
    <div class="container">

    </div>
</div>

<div class="empty-space col-xs-b25 col-sm-b50"></div>
<div class="empty-space col-xs-b25 col-sm-b50"></div>

<div>
    <div class="container">
        <div class="row">


            <div class="col-sm-6 col-md-7 col-sm-text-right">
                <div class="buttons-wrapper">
                    <a class="button size-2 style-2" asp-action="Index">
                        <span class="button-wrapper">
                            <span class="icon"><img src="~/exzo/img/icon-4.png" alt=""></span>
                            <span class="text">Use Default microsoft domain</span>
                        </span>
                    </a>
                    @*<a class="button size-2 style-2" asp-action="Index">
                        <span class="button-wrapper">
                            <span class="icon"><img src="~/exzo/img/icon-4.png" alt=""></span>
                            <span class="text">Use a Verified domain</span>
                        </span>
                    </a>*@

                     <a class="button size-2 style-2" asp-action="BuyDomain" asp-controller="CustomerDomain">
                        <span class="button-wrapper">
                            <span class="icon"><img src="~/exzo/img/icon-4.png" alt=""></span>
                            <span class="text">Buy a custom domain</span>
                        </span>
                    </a> 
                </div>
            </div>



        </div>
    </div>
</div>
<div class="empty-space col-xs-b25 col-sm-b50"></div>
<div class="empty-space col-xs-b25 col-sm-b50"></div>

