
@{
    ViewData["Title"] = "Help Requests";
    Layout = "_AdminLayout";
}



<!-- Row -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Help Requests</li>
  </ol>
</nav>
<br /><br />
      <h4>Help Requests </h4>

<br /><br />

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default card-view">
      <div class="panel-heading">
        <div class="pull-left">
          <h6 class="panel-title txt-dark">Request List</h6>
        </div>

        <div class="clearfix"></div>

      </div>
      <div class="dt-buttons"><a class="dt-button buttons-copy buttons-html5" tabindex="0" aria-controls="example" href="#"><span>Copy</span></a><a class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="example" href="#"><span>CSV</span></a><a class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="example" href="#"><span>Excel</span></a><a class="dt-button buttons-pdf buttons-html5" tabindex="0" aria-controls="example" href="#"><span>PDF</span></a><a class="dt-button buttons-print" tabindex="0" aria-controls="example" href="#"><span>Print</span></a></div>
      <div class="pull-right">
        <div id="example_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="example"></label></div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
              <div class="panel-body">
                <div class="table-wrap">
                  <div class="table-responsive">
                    <table id="example" class="table table-hover display  pb-30">

                      <thead>
                        <tr>
                          <th>Request ID</th>
                          <th>Owner Name</th>
                          <th>E-Mail</th>                         
                          <th>Phone No.</th>
                          <th>Subject</th>
                          <th>Date Created</th>                       
                        </tr>
                      </thead>
                      
                      <tbody>
                        

                        




                      </tbody>
                    </table>
                    <div class="pull-left">
                      <div class="dataTables_info" id="example_info" role="status" aria-live="polite">Showing 1 to 5 of 10 entries</div>
                    </div>
                      <div class="pull-right">
                        <ul class="pagination pagination-split">
                          <li> <a href="#"><i class="fa fa-angle-left"></i></a> </li>
                          <li class="active"> <a href="#">1</a> </li>
                          <li> <a href="#">2</a> </li>
                          <li> <a href="#">3</a> </li>
                          <li> <a href="#">4</a> </li>
                          <li> <a href="#">5</a> </li>
                          <li> <a href="#"><i class="fa fa-angle-right"></i></a> </li>
                        </ul>
                      </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>







    </div>
  </div>
</div>