
@{
    ViewData["Title"] = "Manage Users";
    Layout = "_AdminLayout";
}



<!-- Row -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Registered Customers</li>
  </ol>
</nav>
<br /><br />
      <h4>Registered Customers </h4>

<br /><br />

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default card-view">
      <div class="panel-heading">
        <div class="pull-left">
          <h6 class="panel-title txt-dark">Customer Records</h6>
        </div>

        <div class="clearfix"></div>

      </div>
      <div class="dt-buttons"><a class="dt-button buttons-copy buttons-html5" tabindex="0" aria-controls="example" href="#"><span>Copy</span></a><a class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="example" href="#"><span>CSV</span></a><a class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="example" href="#"><span>Excel</span></a><a class="dt-button buttons-pdf buttons-html5" tabindex="0" aria-controls="example" href="#"><span>PDF</span></a><a class="dt-button buttons-print" tabindex="0" aria-controls="example" href="#"><span>Print</span></a></div>
      <div class="pull-right">
        <div id="example_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="example"></label></div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
              <div class="panel-body">
                <div class="table-wrap">
                  <div class="table-responsive">
                    <table id="example" class="table table-hover display  pb-30">

                      <thead>
                        <tr>
                          <th>Customer ID</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Level</th>
                          <th>Phone No.</th>
                          <th>E-Mail</th>
                          <th>Registration Date</th>
                          <th>User Name</th>
                          <th>User Address</th>
                          <th>City</th>
                          <th>State</th>
                          <th>Company Name</th>
                          <th>Company Address</th>
                          <th>Country</th>
                          <th>Action</th>
                          

                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Customer ID</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Level</th>
                          <th>Phone No.</th>
                          <th>E-Mail</th>
                          <th>Registration Date</th>
                          <th>User Name</th>
                          <th>User Address</th>
                          <th>City</th>
                          <th>State</th>
                          <th>Company Name</th>
                          <th>Company Address</th>
                          <th>Country</th>
                          <th>Action</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <tr>
                          <td>99765865765gfd-jv678</td>
                          <td>Kolade</td>
                          <th>Akinbayode</th>
                          <td>3</td>
                          <th>07065471639</th>
                          <th>koladeakinbayode@gmail.com</th>
                          <td>23/7/2019</td>
                          <th>Nixon@domain.com</th>
                          <td>Lekki, Lagos</td>
                          <td>Lagos</td>
                          <td>Lagos</td>
                          <th>UbiSoft Inc.</th>
                          <th>Phase 1, Lekki</th>
                          <td>Nigeria</td>
                          <td><a href="#">Details</a></td>                         
                        </tr>

                        <tr>
                          <td>98758ujhfjh5gfd-j87t78</td>
                          <td>Sirius</td>
                          <th>Black</th>
                          <td>5</td>
                          <th>08068963030</th>
                          <th>bellatrixkilledme@hogwarts.com</th>
                          <td>3/11/2019</td>
                          <th>Sirius@HouseOfBlack.com</th>
                          <td>Little Winging</td>
                          <td>Surrey</td>
                          <th>Padfoot, Inc.</th>
                          <th>Surrey</th>
                          <td>Britain</td>
                          <td>Britain</td>
                          <td><a href="#">Details</a></td>
                        </tr>




                      </tbody>
                    </table>
                    <div class="pull-left">
                      <div class="dataTables_info" id="example_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                    </div>
                      <div class="pull-right">
                        <ul class="pagination pagination-split">
                          <li> <a href="#"><i class="fa fa-angle-left"></i></a> </li>
                          <li class="active"> <a href="#">1</a> </li>
                          <li> <a href="#">2</a> </li>
                          <li> <a href="#">3</a> </li>
                          <li> <a href="#">4</a> </li>
                          <li> <a href="#">5</a> </li>
                          <li> <a href="#"><i class="fa fa-angle-right"></i></a> </li>
                        </ul>
                      </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>







    </div>
  </div>
</div>