@{
    ViewData["Title"] = "Email Confirmation";
}
<div style="background-image: url(/exzo/img/background-26.jpg); height:200px;  background-position: center;  background-size:100%; background-repeat:no-repeat;">
    <div class="container">
    </div>
</div>
<section id="page-title" class="bundle">
    <div class="container">

        <div class="page-title">
            <h1>AConfirm Email</h1>
        </div>
    </div>
</section>
<div class="empty-space col-xs-b25 col-sm-b50"></div>

<div class="empty-space col-xs-b25 col-sm-b50"></div>
<div class="container">
    <div class="text-center">
        <div class="h2">Email Confirmation</div>
        <div class="title-underline center"><span></span></div>
    </div>

    <div class="row grid-margin">
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                A confirmation Link has been sent to your mail. Do visit the email address you submitted during the registration process for the next steps.
                <br />
                @*<p>Seen any mail Yet? <a asp-controller="account" asp-action="ConfirmMail" asp-route-userId="@ViewBag.Id" asp-route-code="@ViewBag.code"> <strong>Click to resend mail</strong> </a> or <a asp-controller="account" asp-action="login"> <strong>Login here</strong> </a> if already registered</p>*@

            </div>
            
        </div>
    </div>
</div>
<div class="simple-article  size-4"></div>
<div class="empty-space col-xs-b25 col-sm-b50"></div>


