@{
    ViewData["Title"] = "Vendor Service List";
    Layout = "_AdministrationLayout";
}

<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">Vendor Services List</h5>
    </div>
 
</div>
<!-- /Title -->
<!-- Row -->
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <div class="panel panel-default card-view pa-0">
            <div class="panel-wrapper collapse in">
                <div class="panel-body pa-0">
                    <article class="col-item">
                        <div class="photo">
                            <a href="javascript:void(0);"> <img src="~/img/mcsservice.png" class="img-responsive" alt="Product Image" /> </a>
                        </div>
                        <div class="info">
                            <h6>Microsoft Services</h6>
                        </div>
                    </article>
                </div>
            </div>	
        </div>	
    </div>	

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <div class="panel panel-default card-view pa-0">
            <div class="panel-wrapper collapse in">
                <div class="panel-body pa-0">
                    <article class="col-item">
                        <div class="photo">
                            <a href="javascript:void(0);"> <img src="~/img/mtn.png" class="img-responsive" alt="Product Image" /> </a>
                        </div>
                        <div class="info">
                            <h6>MTN Services</h6>
                        </div>
                    </article>
                </div>
            </div>	
        </div>	
    </div>	
</div>